.deps
.libs
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
build
*.in
config.guess
config.h
config.log
config.nice
config.status
config.sub
configure
install-sh
ip2country.la
ip2country.lo
libtool
ltmain.sh
missing
mkinstalldirs
modules
run-tests.php
makedb/GeoIP*
makedb/makedb
